xsd/internal/Airtable/GetFields.xsd

<?xml version="1.0" encoding="UTF-8"?><xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:lib_Airtable_ns="http://www.convertigo.com/convertigo/projects/lib_Airtable" attributeFormDefault="unqualified" elementFormDefault="unqualified" targetNamespace="http://www.convertigo.com/convertigo/projects/lib_Airtable">
    <xsd:element name="Airtable__GetFields" type="lib_Airtable_ns:Airtable__GetFieldsRequestData">
        <xsd:annotation/>
    </xsd:element>
    <xsd:element name="Airtable__GetFieldsResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="response" type="lib_Airtable_ns:Airtable__GetFieldsResponseData"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:complexType name="Airtable__GetFieldsResponseType">
        <xsd:sequence>
            <xsd:element name="document" type="lib_Airtable_ns:Airtable__GetFieldsResponseData"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="Airtable__GetFieldsRequestData">
        <xsd:sequence>
            <xsd:element name="database" type="xsd:string">
                <xsd:annotation>
                    <xsd:appinfo>new variable</xsd:appinfo>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="table" type="xsd:string">
                <xsd:annotation>
                    <xsd:appinfo>new variable</xsd:appinfo>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="api_key" type="xsd:string">
                <xsd:annotation>
                    <xsd:appinfo>new variable</xsd:appinfo>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="Airtable_GetFields_document_object_records_object_idType">
        <xsd:simpleContent>
            <xsd:extension base="xsd:string">
                <xsd:attribute default="string" name="type" type="xsd:string"/>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:complexType name="Airtable_GetFields_document_object_records_object_createdTimeType">
        <xsd:simpleContent>
            <xsd:extension base="xsd:string">
                <xsd:attribute default="string" name="type" type="xsd:string"/>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:complexType name="Airtable_GetFields_document_object_records_object_fields_Project_Lead_idType">
        <xsd:simpleContent>
            <xsd:extension base="xsd:string">
                <xsd:attribute default="string" name="type" type="xsd:string"/>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:complexType name="Airtable_GetFields_document_object_records_object_fields_Project_Lead_emailType">
        <xsd:simpleContent>
            <xsd:extension base="xsd:string">
                <xsd:attribute default="string" name="type" type="xsd:string"/>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:complexType name="Airtable_GetFields_document_object_records_object_fields_Project_Lead_nameType">
        <xsd:simpleContent>
            <xsd:extension base="xsd:string">
                <xsd:attribute default="string" name="type" type="xsd:string"/>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:complexType name="Airtable_GetFields_document_object_records_object_fields_Project_LeadType">
        <xsd:sequence>
            <xsd:element minOccurs="0" name="id" type="lib_Airtable_ns:Airtable_GetFields_document_object_records_object_fields_Project_Lead_idType"/>
            <xsd:element minOccurs="0" name="email" type="lib_Airtable_ns:Airtable_GetFields_document_object_records_object_fields_Project_Lead_emailType"/>
            <xsd:element minOccurs="0" name="name" type="lib_Airtable_ns:Airtable_GetFields_document_object_records_object_fields_Project_Lead_nameType"/>
        </xsd:sequence>
        <xsd:attribute default="Project Lead" name="originalKeyName" type="xsd:string"/>
        <xsd:attribute default="object" name="type" type="xsd:string"/>
    </xsd:complexType>
    <xsd:complexType name="Airtable_GetFields_document_object_records_object_fields_CategoryType">
        <xsd:simpleContent>
            <xsd:extension base="xsd:string">
                <xsd:attribute default="string" name="type" type="xsd:string"/>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:complexType name="Airtable_GetFields_document_object_records_object_fields_Kickoff_dateType">
        <xsd:simpleContent>
            <xsd:extension base="xsd:string">
                <xsd:attribute default="Kickoff date" name="originalKeyName" type="xsd:string"/>
                <xsd:attribute default="string" name="type" type="xsd:string"/>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:complexType name="Airtable_GetFields_document_object_records_object_fields_CompleteType">
        <xsd:simpleContent>
            <xsd:extension base="xsd:string">
                <xsd:attribute default="string" name="type" type="xsd:string"/>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:complexType name="Airtable_GetFields_document_object_records_object_fields_NameType">
        <xsd:simpleContent>
            <xsd:extension base="xsd:string">
                <xsd:attribute default="string" name="type" type="xsd:string"/>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:complexType name="Airtable_GetFields_document_object_records_object_fields_Project_Photos_object_idType">
        <xsd:simpleContent>
            <xsd:extension base="xsd:string">
                <xsd:attribute default="string" name="type" type="xsd:string"/>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:complexType name="Airtable_GetFields_document_object_records_object_fields_Project_Photos_object_widthType">
        <xsd:simpleContent>
            <xsd:extension base="xsd:string">
                <xsd:attribute default="string" name="type" type="xsd:string"/>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:complexType name="Airtable_GetFields_document_object_records_object_fields_Project_Photos_object_heightType">
        <xsd:simpleContent>
            <xsd:extension base="xsd:string">
                <xsd:attribute default="string" name="type" type="xsd:string"/>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:complexType name="Airtable_GetFields_document_object_records_object_fields_Project_Photos_object_urlType">
        <xsd:simpleContent>
            <xsd:extension base="xsd:string">
                <xsd:attribute default="string" name="type" type="xsd:string"/>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:complexType name="Airtable_GetFields_document_object_records_object_fields_Project_Photos_object_filenameType">
        <xsd:simpleContent>
            <xsd:extension base="xsd:string">
                <xsd:attribute default="string" name="type" type="xsd:string"/>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:complexType name="Airtable_GetFields_document_object_records_object_fields_Project_Photos_object_sizeType">
        <xsd:simpleContent>
            <xsd:extension base="xsd:string">
                <xsd:attribute default="string" name="type" type="xsd:string"/>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:complexType name="Airtable_GetFields_document_object_records_object_fields_Project_Photos_object_typeType">
        <xsd:simpleContent>
            <xsd:extension base="xsd:string">
                <xsd:attribute default="string" name="type" type="xsd:string"/>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:complexType name="Airtable_GetFields_document_object_records_object_fields_Project_Photos_object_thumbnails_small_urlType">
        <xsd:simpleContent>
            <xsd:extension base="xsd:string">
                <xsd:attribute default="string" name="type" type="xsd:string"/>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:complexType name="Airtable_GetFields_document_object_records_object_fields_Project_Photos_object_thumbnails_small_widthType">
        <xsd:simpleContent>
            <xsd:extension base="xsd:string">
                <xsd:attribute default="string" name="type" type="xsd:string"/>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:complexType name="Airtable_GetFields_document_object_records_object_fields_Project_Photos_object_thumbnails_small_heightType">
        <xsd:simpleContent>
            <xsd:extension base="xsd:string">
                <xsd:attribute default="string" name="type" type="xsd:string"/>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:complexType name="Airtable_GetFields_document_object_records_object_fields_Project_Photos_object_thumbnails_smallType">
        <xsd:sequence>
            <xsd:element minOccurs="0" name="url" type="lib_Airtable_ns:Airtable_GetFields_document_object_records_object_fields_Project_Photos_object_thumbnails_small_urlType"/>
            <xsd:element minOccurs="0" name="width" type="lib_Airtable_ns:Airtable_GetFields_document_object_records_object_fields_Project_Photos_object_thumbnails_small_widthType"/>
            <xsd:element minOccurs="0" name="height" type="lib_Airtable_ns:Airtable_GetFields_document_object_records_object_fields_Project_Photos_object_thumbnails_small_heightType"/>
        </xsd:sequence>
        <xsd:attribute default="object" name="type" type="xsd:string"/>
    </xsd:complexType>
    <xsd:complexType name="Airtable_GetFields_document_object_records_object_fields_Project_Photos_object_thumbnails_large_urlType">
        <xsd:simpleContent>
            <xsd:extension base="xsd:string">
                <xsd:attribute default="string" name="type" type="xsd:string"/>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:complexType name="Airtable_GetFields_document_object_records_object_fields_Project_Photos_object_thumbnails_large_widthType">
        <xsd:simpleContent>
            <xsd:extension base="xsd:string">
                <xsd:attribute default="string" name="type" type="xsd:string"/>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:complexType name="Airtable_GetFields_document_object_records_object_fields_Project_Photos_object_thumbnails_large_heightType">
        <xsd:simpleContent>
            <xsd:extension base="xsd:string">
                <xsd:attribute default="string" name="type" type="xsd:string"/>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:complexType name="Airtable_GetFields_document_object_records_object_fields_Project_Photos_object_thumbnails_largeType">
        <xsd:sequence>
            <xsd:element minOccurs="0" name="url" type="lib_Airtable_ns:Airtable_GetFields_document_object_records_object_fields_Project_Photos_object_thumbnails_large_urlType"/>
            <xsd:element minOccurs="0" name="width" type="lib_Airtable_ns:Airtable_GetFields_document_object_records_object_fields_Project_Photos_object_thumbnails_large_widthType"/>
            <xsd:element minOccurs="0" name="height" type="lib_Airtable_ns:Airtable_GetFields_document_object_records_object_fields_Project_Photos_object_thumbnails_large_heightType"/>
        </xsd:sequence>
        <xsd:attribute default="object" name="type" type="xsd:string"/>
    </xsd:complexType>
    <xsd:complexType name="Airtable_GetFields_document_object_records_object_fields_Project_Photos_object_thumbnailsType">
        <xsd:sequence>
            <xsd:element minOccurs="0" name="small" type="lib_Airtable_ns:Airtable_GetFields_document_object_records_object_fields_Project_Photos_object_thumbnails_smallType"/>
            <xsd:element minOccurs="0" name="large" type="lib_Airtable_ns:Airtable_GetFields_document_object_records_object_fields_Project_Photos_object_thumbnails_largeType"/>
        </xsd:sequence>
        <xsd:attribute default="object" name="type" type="xsd:string"/>
    </xsd:complexType>
    <xsd:complexType name="Airtable_GetFields_document_object_records_object_fields_Project_Photos_objectType">
        <xsd:sequence>
            <xsd:element minOccurs="0" name="id" type="lib_Airtable_ns:Airtable_GetFields_document_object_records_object_fields_Project_Photos_object_idType"/>
            <xsd:element maxOccurs="unbounded" minOccurs="0" name="width" type="lib_Airtable_ns:Airtable_GetFields_document_object_records_object_fields_Project_Photos_object_widthType"/>
            <xsd:element maxOccurs="unbounded" minOccurs="0" name="height" type="lib_Airtable_ns:Airtable_GetFields_document_object_records_object_fields_Project_Photos_object_heightType"/>
            <xsd:element maxOccurs="unbounded" minOccurs="0" name="url" type="lib_Airtable_ns:Airtable_GetFields_document_object_records_object_fields_Project_Photos_object_urlType"/>
            <xsd:element minOccurs="0" name="filename" type="lib_Airtable_ns:Airtable_GetFields_document_object_records_object_fields_Project_Photos_object_filenameType"/>
            <xsd:element minOccurs="0" name="size" type="lib_Airtable_ns:Airtable_GetFields_document_object_records_object_fields_Project_Photos_object_sizeType"/>
            <xsd:element minOccurs="0" name="type" type="lib_Airtable_ns:Airtable_GetFields_document_object_records_object_fields_Project_Photos_object_typeType"/>
            <xsd:element minOccurs="0" name="thumbnails" type="lib_Airtable_ns:Airtable_GetFields_document_object_records_object_fields_Project_Photos_object_thumbnailsType"/>
        </xsd:sequence>
        <xsd:attribute default="object" name="type" type="xsd:string"/>
    </xsd:complexType>
    <xsd:complexType name="Airtable_GetFields_document_object_records_object_fields_Project_PhotosType">
        <xsd:sequence>
            <xsd:element maxOccurs="unbounded" minOccurs="0" name="object" type="lib_Airtable_ns:Airtable_GetFields_document_object_records_object_fields_Project_Photos_objectType"/>
        </xsd:sequence>
        <xsd:attribute name="length" type="xsd:byte"/>
        <xsd:attribute default="Project Photos" name="originalKeyName" type="xsd:string"/>
        <xsd:attribute default="array" name="type" type="xsd:string"/>
    </xsd:complexType>
    <xsd:complexType name="Airtable_GetFields_document_object_records_object_fields_Client_valueType">
        <xsd:simpleContent>
            <xsd:extension base="xsd:string">
                <xsd:attribute default="string" name="type" type="xsd:string"/>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:complexType name="Airtable_GetFields_document_object_records_object_fields_ClientType">
        <xsd:sequence>
            <xsd:element minOccurs="0" name="value" type="lib_Airtable_ns:Airtable_GetFields_document_object_records_object_fields_Client_valueType"/>
        </xsd:sequence>
        <xsd:attribute name="length" type="xsd:byte"/>
        <xsd:attribute default="array" name="type" type="xsd:string"/>
    </xsd:complexType>
    <xsd:complexType name="Airtable_GetFields_document_object_records_object_fields_Due_dateType">
        <xsd:simpleContent>
            <xsd:extension base="xsd:string">
                <xsd:attribute default="Due date" name="originalKeyName" type="xsd:string"/>
                <xsd:attribute default="string" name="type" type="xsd:string"/>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:complexType name="Airtable_GetFields_document_object_records_object_fields_Project_Team_object_idType">
        <xsd:simpleContent>
            <xsd:extension base="xsd:string">
                <xsd:attribute default="string" name="type" type="xsd:string"/>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:complexType name="Airtable_GetFields_document_object_records_object_fields_Project_Team_object_emailType">
        <xsd:simpleContent>
            <xsd:extension base="xsd:string">
                <xsd:attribute default="string" name="type" type="xsd:string"/>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:complexType name="Airtable_GetFields_document_object_records_object_fields_Project_Team_object_nameType">
        <xsd:simpleContent>
            <xsd:extension base="xsd:string">
                <xsd:attribute default="string" name="type" type="xsd:string"/>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:complexType name="Airtable_GetFields_document_object_records_object_fields_Project_Team_objectType">
        <xsd:sequence>
            <xsd:element minOccurs="0" name="id" type="lib_Airtable_ns:Airtable_GetFields_document_object_records_object_fields_Project_Team_object_idType"/>
            <xsd:element minOccurs="0" name="email" type="lib_Airtable_ns:Airtable_GetFields_document_object_records_object_fields_Project_Team_object_emailType"/>
            <xsd:element minOccurs="0" name="name" type="lib_Airtable_ns:Airtable_GetFields_document_object_records_object_fields_Project_Team_object_nameType"/>
        </xsd:sequence>
        <xsd:attribute default="object" name="type" type="xsd:string"/>
    </xsd:complexType>
    <xsd:complexType name="Airtable_GetFields_document_object_records_object_fields_Project_TeamType">
        <xsd:sequence>
            <xsd:element maxOccurs="unbounded" minOccurs="0" name="object" type="lib_Airtable_ns:Airtable_GetFields_document_object_records_object_fields_Project_Team_objectType"/>
        </xsd:sequence>
        <xsd:attribute name="length" type="xsd:byte"/>
        <xsd:attribute default="Project Team" name="originalKeyName" type="xsd:string"/>
        <xsd:attribute default="array" name="type" type="xsd:string"/>
    </xsd:complexType>
    <xsd:complexType name="Airtable_GetFields_document_object_records_object_fields_NotesType">
        <xsd:simpleContent>
            <xsd:extension base="xsd:string">
                <xsd:attribute default="string" name="type" type="xsd:string"/>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:complexType name="Airtable_GetFields_document_object_records_object_fields_Tasks_valueType">
        <xsd:simpleContent>
            <xsd:extension base="xsd:string">
                <xsd:attribute default="string" name="type" type="xsd:string"/>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:complexType name="Airtable_GetFields_document_object_records_object_fields_TasksType">
        <xsd:sequence>
            <xsd:element maxOccurs="unbounded" minOccurs="0" name="value" type="lib_Airtable_ns:Airtable_GetFields_document_object_records_object_fields_Tasks_valueType"/>
        </xsd:sequence>
        <xsd:attribute name="length" type="xsd:byte"/>
        <xsd:attribute default="array" name="type" type="xsd:string"/>
    </xsd:complexType>
    <xsd:complexType name="Airtable_GetFields_document_object_records_object_fieldsType">
        <xsd:sequence>
            <xsd:element minOccurs="0" name="Project_Lead" type="lib_Airtable_ns:Airtable_GetFields_document_object_records_object_fields_Project_LeadType"/>
            <xsd:element minOccurs="0" name="Category" type="lib_Airtable_ns:Airtable_GetFields_document_object_records_object_fields_CategoryType"/>
            <xsd:element minOccurs="0" name="Kickoff_date" type="lib_Airtable_ns:Airtable_GetFields_document_object_records_object_fields_Kickoff_dateType"/>
            <xsd:element minOccurs="0" name="Complete" type="lib_Airtable_ns:Airtable_GetFields_document_object_records_object_fields_CompleteType"/>
            <xsd:element minOccurs="0" name="Name" type="lib_Airtable_ns:Airtable_GetFields_document_object_records_object_fields_NameType"/>
            <xsd:element minOccurs="0" name="Project_Photos" type="lib_Airtable_ns:Airtable_GetFields_document_object_records_object_fields_Project_PhotosType"/>
            <xsd:element minOccurs="0" name="Client" type="lib_Airtable_ns:Airtable_GetFields_document_object_records_object_fields_ClientType"/>
            <xsd:element minOccurs="0" name="Due_date" type="lib_Airtable_ns:Airtable_GetFields_document_object_records_object_fields_Due_dateType"/>
            <xsd:element minOccurs="0" name="Project_Team" type="lib_Airtable_ns:Airtable_GetFields_document_object_records_object_fields_Project_TeamType"/>
            <xsd:element minOccurs="0" name="Notes" type="lib_Airtable_ns:Airtable_GetFields_document_object_records_object_fields_NotesType"/>
            <xsd:element minOccurs="0" name="Tasks" type="lib_Airtable_ns:Airtable_GetFields_document_object_records_object_fields_TasksType"/>
        </xsd:sequence>
        <xsd:attribute default="object" name="type" type="xsd:string"/>
    </xsd:complexType>
    <xsd:complexType name="Airtable_GetFields_document_object_records_objectType">
        <xsd:sequence>
            <xsd:element maxOccurs="unbounded" minOccurs="0" name="id" type="lib_Airtable_ns:Airtable_GetFields_document_object_records_object_idType"/>
            <xsd:element minOccurs="0" name="createdTime" type="lib_Airtable_ns:Airtable_GetFields_document_object_records_object_createdTimeType"/>
            <xsd:element minOccurs="0" name="fields" type="lib_Airtable_ns:Airtable_GetFields_document_object_records_object_fieldsType"/>
        </xsd:sequence>
        <xsd:attribute default="object" name="type" type="xsd:string"/>
    </xsd:complexType>
    <xsd:complexType name="Airtable_GetFields_document_object_recordsType">
        <xsd:sequence>
            <xsd:element maxOccurs="unbounded" minOccurs="0" name="object" type="lib_Airtable_ns:Airtable_GetFields_document_object_records_objectType"/>
        </xsd:sequence>
        <xsd:attribute name="length" type="xsd:byte"/>
        <xsd:attribute default="array" name="type" type="xsd:string"/>
    </xsd:complexType>
    <xsd:complexType name="Airtable_GetFields_document_objectType">
        <xsd:sequence>
            <xsd:element minOccurs="0" name="records" type="lib_Airtable_ns:Airtable_GetFields_document_object_recordsType"/>
        </xsd:sequence>
        <xsd:attribute default="object" name="type" type="xsd:string"/>
    </xsd:complexType>
    <xsd:complexType name="Airtable__GetFieldsResponseData">
        <xsd:sequence>
            <xsd:element minOccurs="0" name="object" type="lib_Airtable_ns:Airtable_GetFields_document_objectType"/>
            <xsd:element minOccurs="0" name="error" type="lib_Airtable_ns:ConvertigoError"/>
        </xsd:sequence>
        <xsd:attribute name="connector" type="xsd:string"/>
        <xsd:attribute name="context" type="xsd:string"/>
        <xsd:attribute name="contextId" type="xsd:string"/>
        <xsd:attribute name="fromStub" type="xsd:boolean"/>
        <xsd:attribute name="fromcache" type="xsd:boolean"/>
        <xsd:attribute name="generated" type="xsd:string"/>
        <xsd:attribute name="project" type="xsd:string"/>
        <xsd:attribute name="sequence" type="xsd:string"/>
        <xsd:attribute name="signature" type="xsd:long"/>
        <xsd:attribute name="transaction" type="xsd:string"/>
        <xsd:attribute name="version" type="xsd:string"/>
        <xsd:attribute name="screenclass" type="xsd:string"/>
        <xsd:attribute name="userReference" type="xsd:string"/>
    </xsd:complexType>
    <xsd:complexType name="ConvertigoErrorContextVariable">
        <xsd:attribute name="name" type="xsd:string"/>
        <xsd:attribute name="value" type="xsd:string"/>
    </xsd:complexType>
    <xsd:complexType name="ConvertigoErrorContext">
        <xsd:sequence>
            <xsd:element maxOccurs="unbounded" minOccurs="0" name="variable" type="lib_Airtable_ns:ConvertigoErrorContextVariable"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="ConvertigoError">
        <xsd:sequence minOccurs="0">
            <xsd:element name="code" type="xsd:integer"/>
            <xsd:element name="message" type="xsd:string"/>
            <xsd:element name="details" type="xsd:string"/>
            <xsd:element name="context" type="lib_Airtable_ns:ConvertigoErrorContext"/>
            <xsd:element name="exception" type="xsd:string"/>
            <xsd:element name="stacktrace" type="xsd:string"/>
        </xsd:sequence>
        <xsd:attribute name="project" type="xsd:string"/>
        <xsd:attribute name="connector" type="xsd:string"/>
        <xsd:attribute name="transaction" type="xsd:string"/>
        <xsd:attribute name="sequence" type="xsd:string"/>
        <xsd:attribute name="type">
            <xsd:simpleType>
                <xsd:restriction base="xsd:string">
                    <xsd:enumeration value="c8o"/>
                    <xsd:enumeration value="project"/>
                </xsd:restriction>
            </xsd:simpleType>
        </xsd:attribute>
    </xsd:complexType>
</xsd:schema>
